
body{
    margin:0px;
    padding: 0px;
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
.card{
    width: 350px;
    height: 400px;
    background-color:azure;
}
.flist-1{
    background-image: https://images.unsplash.com/photo-1682686581740-2c5f76eb86d1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=600&q=60;    
}